Lecture-1 7th-August

In [30]:
my_data='Name: Kashyap Dattani\nSAP Id: 60002231111'

In [24]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [25]:
print("Kashyap Dattani")

Kashyap Dattani

In [26]:
a,b,c=10,"kd",True
print(a,b,c)

10 kd True

In [27]:
a=10
b="kd"
c=True
print(a,b,c)

10 kd True

In [28]:
print("Exp1a: To study different data types in python.")
print(my_data)

num1=10
print(type(num1))

num2=11.1
print(type(num2))

greet="Hello, Good Morning"
print(type(greet))

var4=True
print(type(var4))

Exp1a: To study different data types in python.
Name: Kashyap Dattani
SAP Id: 60002231111
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [29]:
a=int(input("Ënter a number:"))
a

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print("The sum is:", int(input("Enter number 1"))+ int(input("Enter number 2")))

The sum is: 15

In [ ]:
print("The sum is:", float(input("Enter number 1"))+ float(input("Enter number 2")))

The sum is: 5.3

In [ ]:
print("The SI is:", (float(input("Enter P:"))+ float(input("Enter R:"))+ float(input("Enter T:")))/100)

The SI is: 0.35

In [ ]:
a=7+8j
b=3+4+3j
c=a+b
print(a,"+",b,"=",c)

(7+8j) + (7+3j) = (14+11j)

In [ ]:
name=input("Enter yout name")
print("Hello",name)

Hello kd

In [ ]:
print("Exp1b/c: To implement different string manipulatiobn function.")
print(my_data)

str="Hello Kashyap"
print(str)
print(str[0])
print(str[-1])
print(str[2:5])
print(str[2:])
print(str[:5])
print(str*2,str)
print(len(str))

Exp1b/c: To implement different string manipulatiobn function.
Name: Kashyap Dattani
SAP Id: 60002231111
Hello Kashyap
H
p
llo
llo Kashyap
Hello
Hello KashyapHello Kashyap Hello Kashyap
13

In [ ]:
test_str="Hello Kashyap"
counter=test_str.count('a')
counter

2

In [ ]:


list1=eval(input("Enter Elements for List 1:"))
print(list1)

list2=eval(input("Enter Elements for List 2:"))
print(list2)

list3=list1+list2
print(list3)

Exp1d: To implement different list manipulatiobn function.
Name: Kashyap Dattani
SAP Id: 60002231111
(1, 2, 3)
(4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)

In [ ]:
print(list3[0])
print(list3[-1])
print(list3[2:5])
print(list3[2:])
print(list3[:5])
print(list3*2+list3)
print(len(list3))

1
7
(3, 4, 5)
(3, 4, 5, 6, 7)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)
7

In [ ]:
print("Exp1d: To implement different list manipulatiobn function.")
print(my_data)

rainbow1=['violet','indigo','blue']
rainbow2=['green','yellow','orange','red']

rainbow=rainbow1+rainbow2
print(rainbow)

print(rainbow[2])
print(rainbow[-3])

rainbow.append('white')
print(rainbow)

rainbow.remove('white')
print(rainbow)

rainbow.sort()
print(rainbow)

Exp1d: To implement different list manipulatiobn function.
Name: Kashyap Dattani
SAP Id: 60002231111
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
blue
yellow
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red', 'white']
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
['blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow']

Lecture-2 14th-August

In [ ]:
#Area of rectangle

length=10
breath=20
area=length*breath
print(area)

200

In [ ]:
#Sqrt of a number

num=int(input('Enter a number:'))
result=num**0.5
print(result)

6.0

In [ ]:
num1=int(input('Enter 1st number:'))
num2=int(input('Enter 2nd number:'))

print(f'Entered values are:{num1,num2}')
num1,num2=num2,num1
print(f'Swapped values are:{num1,num2}')

Entered values are:(10, 20)
Swapped values are:(20, 10)

In [ ]:
#Tuple

t1=(10,20,30)
t2=(40,50,60)
new_t=t1+t2
print(new_t)

(10, 20, 30, 40, 50, 60)

In [59]:
tuple1 = ('abcd',789,2.23,'John',70.2)
tinytuple = (123,"John")

print(tuple1)
print(tuple1[1])
print(tuple1[1:-1])
print(tuple1*2)
print(tuple1+tinytuple)

('abcd', 789, 2.23, 'John', 70.2)
789
(789, 2.23, 'John')
('abcd', 789, 2.23, 'John', 70.2, 'abcd', 789, 2.23, 'John', 70.2)
('abcd', 789, 2.23, 'John', 70.2, 123, 'John')

In [38]:
print("Exp2a: Combining tuples in list of tuples.")
print(my_data)

fruits=('Mango','Apple','Dragonfruit','Banana','Kiwi','Orange')

print(len(fruits))
print(fruits[0])
print(fruits[-1])
print(fruits[2:5])

new_fruit=('Pear',)

fruits=fruits+new_fruit
print(fruits)

Exp2a: Combining tuples in list of tuples.
Name: Kashyap Dattani
SAP Id: 60002231111
6
Mango
Orange
('Dragonfruit', 'Banana', 'Kiwi')
('Mango', 'Apple', 'Dragonfruit', 'Banana', 'Kiwi', 'Orange', 'Pear')

In [71]:
x=('Mango','Apple','Dragonfruit','Banana','Kiwi','Orange')
y=('Pear')
z=list(x)
z.append(y)
x=(z)
print(x)
type(x)

#issue

['Mango', 'Apple', 'Dragonfruit', 'Banana', 'Kiwi', 'Orange', 'Pear']

list

In [88]:
set1={1,2,3,4,8}
set2={8,9,10}
print(set1)
print(2 in set1)

{1, 2, 3, 4, 8}
True

In [93]:
#Dictionary

data={'Kashyap':7666641235,'Khushal':9967099908,'Maanya':1234565236,'Jay':8966554712}
print(data['Kashyap'])
print(data.keys())

7666641235
dict_keys(['Kashyap', 'Khushal', 'Maanya', 'Jay'])

In [105]:
print("Exp2c: To study list and dictionary comprehension.")
print(my_data)

thisdict={'Brand':'Ford','Model':'Mustang','Year':1964}
print(thisdict)

print(thisdict["Model"])

thisdict={'Brand':'Ford','Model':'Mustang','Year':1964,'Year':2005}
print(thisdict)
print(len(thisdict))

thisdict={'Brand':'Ford','Electric':False,'Model':'Mustang','Year':1964,'Colors':['red','black','white']}
print(thisdict)

thisdict['Year']=2005
print(thisdict)

thisdict['Year_new']=2024
print(thisdict)

newdict=thisdict
type(newdict)

Exp2c: To study list and dictionary comprehension.
Name: Kashyap Dattani
SAP Id: 60002231111
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
Mustang
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2005}
3
{'Brand': 'Ford', 'Electric': False, 'Model': 'Mustang', 'Year': 1964, 'Colors': ['red', 'black', 'white']}
{'Brand': 'Ford', 'Electric': False, 'Model': 'Mustang', 'Year': 2005, 'Colors': ['red', 'black', 'white']}
{'Brand': 'Ford', 'Electric': False, 'Model': 'Mustang', 'Year': 2005, 'Colors': ['red', 'black', 'white'], 'Year_new': 2024}

dict

In [108]:
print("Exp2d: To count the number of letters/ vowels/ consonants in a dictionary.")
print(my_data)

thisdict={'Brand':'Ford','Model':'Mustang','Year':1964}
y=str(thisdict)
print(y)

vowels='aeiouAEIOU'
count=sum(y.count(vowel)for vowel in vowels)
print(count)

Exp2d: To count the number of letters/ vowels/ consonants in a dictionary.
Name: Kashyap Dattani
SAP Id: 60002231111
{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}
8